@using mtg_lib.Library.Models;
@model mtg_app.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    var previous = @Model.Index - 1;
    var next = @Model.Index + 1;
    String[] ascdes = { "asc", "des" };
}

<script src="~/js/api.js" asp-append-version="true"></script>
<script src="~/js/shop.js" asp-append-version="true"></script>

<div class="text-center">
    <h1 class="display-4 font-weight-bold">MTG - Shop</h1>
</div>

<div class="text-center search">
    @using (Html.BeginForm("FormSearch", "Home", FormMethod.Post))
    {
        @Html.TextBoxFor(m => m.Name, new { Class="form-control mx-sm-6", placeholder="Card name"})
    }
</div>
<div>
    @using (Html.BeginForm("FilterManaCostDirection", "Home", FormMethod.Post))
    {
        <p>Mana cost</p>
        @Html.DropDownListFor( m=>m.Direction, new SelectList(new List<SelectListItem>
        {
            new SelectListItem { Selected = true, Text = "Ascending", Value = "Ascending"},
            new SelectListItem { Selected = false, Text = "Decending", Value = "Decending"},
        }, "Value" , "Text", 1))
        <input type="submit" value="Send Request">
    }

</div>
<div>
@using (Html.BeginForm("FilterManaCost", "Home", FormMethod.Post))
     {
         @Html.TextBoxFor(m => m.Manacost, new { Class="form-control mx-sm-6", placeholder="Mana cost"})
     }

</div>
<div class="row row-cols-1 row-cols-md-5 g-4">
    @foreach (var card in Model.Cards)
    {
        <div class="col">
            <div class="card" value="@card.Id">
                @if (@card.OriginalImageUrl != null)
                {
                    <img class="card-img-top" src="@card.OriginalImageUrl" alt="@card.Name">   
                }
                else
                {
                    <img class="card-img-top" src="https://www.aqdmedical.com/wp-content/uploads/2016/01/pojo-placeholder-3.png" alt="@card.Name">
                }
                <div class="card-body">
                    <h5 class="card-title">@card.Name</h5>
                    <p class="card-text">@card.OriginalText</p>
                    <p class="card-text"><small class="text-muted">@card.RarityCode</small></p>
                    <p class="card-text"><small class="text-muted">€@card.Price</small></p>
                    <a href="/Home/Details/@card.Id">More Info</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="#" class="addCart">Add To Cart</a>
                    }
                    </div>
                </div>
            </div>
    }
</div>

<nav class="pagination-nav" aria-label="Pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            @if (@Model.Index == 0)
            {
                <a class="page-link disabled" href="/@previous"> previous </a>
            }
            else
            {
                <a class="page-link" href="/@previous"> previous </a>
            }
        </li>
        <li>
            @using (Html.BeginForm("FormPagination", "Home", FormMethod.Post))
            {
                @Html.TextBoxFor(m => m.Index)
            }
        </li>
        <li class="page-item">
            @if (@Model.Index == Model.Pages)
            {
                <a class="page-link disabled" href="/@next"> next </a>
            }
            else
            {
                <a class="page-link" href="/@next"> next </a>
            }
        </li>
        <li class="page-item">
            <p class="text-muted pages">Total pages - @Model.Pages</p>
        </li>
    </ul>
</nav>